<% include _shared/header %> 
<div class="container container-margin-top-40">
    <div class="row">
        <div class="col-md-12">
            <h3 class="mt-3"><%= title %></h3>
            <div class="row container-margin-top-40 container-margin-bottom-40">
                <div class="col-lg-4">
                    <div class="my-1 text-center">
                    <img class="image-fluid displayed-badge-image" src="data:image/png;base64, <%= badgeImage %>" alt="<%= badge.badge_name %> image" />
                    </div>
                </div>

                <div class="col-lg-8 product-detail">

                    <div class="card">
                        <div class="card-body">
                            <div class="pb-3">
                                <strong>Earned by:</strong> <a href="https://twitter.com/<%- earner %>" target="_blank">@<%- earner %></a><br/>
                                <%- evidenceNarrative %>
                            </div>
                            <div class="pb-3">
                                <strong>Issued On:</strong> <%- issuedOn %>
                            </div>
                            <div>
                                <strong>Evidence:</strong> <a href="<%= evidence %>" target="_blank" title="Badge evidence"><%= evidence %></a>
                            </div>
                         <!--   <div>
                                OpenBadges.issue(['http://yoursite.com/badge-assertion.json'], function(errors, successes) {

                                });
                            </div> -->
                        </div>
                    </div>

                    <div class="mt-3 smaller-text">
                        @<%- earner %> can delete this badge, by tweeting the following:
                    </div>
                    <div class="pt-1">
                        <pre>@badgebotio #<%- badge.delete_hashtag_id %>-<%- id %></pre></div>
                    </div>

                <div class="mb-5">&nbsp;</div>
                    <h4 class="pt-3"><%= badge.description %></h4>

                    <p><%- badge.criteria.narrative %></p>

                    <p class="smaller-text"><%- badge.support_description %></p>
        
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mb-3">
                    <h4>Instructions</h4>
                    <div>
                        <% badge.criteria.details.forEach(function(criteria){ %>
                            <div class="container-margin-bottom-40">
                                <div><%- criteria.description %></div>
                                <div class="pb-3"><strong>Example Tweet:</strong> <div><%- criteria.example_tweet %></div></div>
                                <div><strong>Optional:</strong> <%- criteria.optional %></div>
                                <div><strong>Hashtag:</strong> #<%- badge.hashtag_id %></div>
                                <div><strong>Evidence:</strong> <%- criteria.evidence_required %></div>
            
                                <!-- add an download the open badge if that is done in time -->
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-lg-12 mb-5">
                    <h4>FAQs</h4>
                    <div>
                        <% for(var i=0; i<badge.faqs.length; i++) { %>
                            <p><em>Question: <%- badge.faqs[i].question %></em></br/>
                            Answer: <%- badge.faqs[i].answer %></p>
                        <% }; %>
                    </div>
                </div>
            </div>                      
        </div>
    </div>
</div>
<% include _shared/footer %> 
<script src="https://backpack.openbadges.org/issuer.js"></script>

